@import "variables";
@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';

@import 'components/_title-header';
@import 'components/_splitpanes';
@import 'components/form/_redactor';

@import 'components/form/_base-input';
@import 'components/form/_base-select';

@import 'components/_translation-item';
@import 'components/_toolbox';
@import 'components/_audioplayer';
@import 'components/_navbar';

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: $dark;
  font-family: "Helvetica", sans-serif !important;
  color: $light;
}

.main-content {
  margin-top: calc(#{$navbar-height} + 0.3rem);
}

.toast-dark {
  background-color: $dark-light-3;
  color: $light;
}

.translation-view > .splitpanes {
  height: calc(100vh - (#{$navbar-height} + 0.3rem));
}