@import 'node_modules/splitpanes/dist/splitpanes';

.splitpanes {
  color: white;
}
.splitpanes__pane {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2) inset;
  justify-content: center;
  align-items: center;
  display: flex;
}
.splitpanes__splitter {
  cursor: ns-resize;
}

.splitpanes--vertical > .splitpanes__splitter {
  min-width: 10px;
  background-color: $dark-light-2;
}
.splitpanes--horizontal > .splitpanes__splitter {
  min-height: 10px;
  background-color: $dark-light-2;
}

.splitpanes__pane::-webkit-scrollbar {
  width: 0.8rem;
}
.splitpanes__pane::-webkit-scrollbar-track {
  background: $dark-light-1;
}
.splitpanes__pane::-webkit-scrollbar-thumb {
  background: $primary;
}