$toolbox-color: #4c4c54;

.toolbox {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  flex-direction: column;
  padding: 0 1px;
  height: 100vh;
  background-color: $toolbox-color;
  transition: transform .2s ease;

  .toolbox__toggler {
    position: absolute;
    left: 120%;
    top: 0;
    cursor: pointer;
  }

  &.toolbox--closed {
    transform: translateX(-100%);
  }

  &.toolbox--primary .toolbox__tool {
    background-color: $toolbox-color;
    color: #fff;
  }

  i {
    pointer-events: none;
  }
}

.toolbox__tool {
  position: relative;
  padding: 5px 8px;
  box-shadow: 0 0 4px black;
  cursor: pointer;

  &.toolbox__tool--active {
    background-color: var(--purple) !important;

    > .toolbox__subtools {
      display: flex;
    }
  }

  &:hover {
    background-color: lighten($toolbox-color, 5);
  }
}

.toolbox__subtools {
  position: absolute;
  display: none;
  top: 0;
  left: 100%;
  height: 100%;

  & .toolbox__tool:hover {
    background-color: lighten($toolbox-color, 5);
  }
}
