.translation-item {
  position: relative;
  flex-basis: 270px;
  flex-shrink: 0;
  margin: 10px 20px;
  padding: 10px 10px 20px;
  border: 1px solid #484848e0;
  background-color: #383838;
  transition: transform .1s;
}

.translation-item:hover, .translation-item:focus {
  cursor: pointer;
  box-shadow: -5px 5px $primary;
  transform: translate(5px, -5px);
}

.translation-item__name {
  font-size: 20px;
}

.translation-item__meta {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 1px 3px;
  font-size: 13px;
  font-weight: 100;
}
.translation-item__icon {
  position: absolute;
  top: 5px;
  right:5px;
  width: 20px;
  height: 20px;
}
.translation-item__icon:hover {
  color: $primary;
  transform: scale(1.2);
}