.form-input {
  background-color: transparent;

  border: 1px solid $primary;
  color: $light;
  z-index: 10;
}

.form-input:focus {
  outline: none;
  border-bottom-width: 2px;
}

.form-control {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid $primary;
  color: $light;
  z-index: 10;
}

.form-control:focus {
  background-color: black;
  border: 2px $primary;
  outline: 0;
}
